@import "tailwindcss";

html.light {
  --bg-main: #ffffff;
  --text-main: #000000;
  --card-bg: #f9f9f9;
}

html.dark {
  --bg-main: #1f2937; 
  --text-main: #f9fafb; 
  --card-bg: #374151;   
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

.card {
  background-color: var(--card-bg);
  color: var(--text-main);
}

body {
  overflow: hidden; /* niente scroll di base */
}
